.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}

.stats {
  margin-top: 1rem;
  display: grid;
  gap: 0.25rem;
  color: #3c3c45;
}
