.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}

.filters {
  display: flex;
}

.features {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.stats {
  margin-top: 1rem;
  display: grid;
  gap: 4px;
  color: #3c3c45;
}

.rightControls {
  display: flex;
  align-items: center;
  gap: 12px;
}
