.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}

.filters {
  display: flex;
}

.topControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.features {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.stats {
  margin-top: 1rem;
  display: grid;
  gap: 4px;
  color: #3c3c45;
}

.rightControls {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.modeAndStyle {
  display: flex;
  align-items: center;
  gap: 12px;
}

.themeToggle {
  display: inline-flex;
  border-radius: 999px;
  padding: 2px;
  background: var(--card-border-color);
}

.themeButton,
.themeButtonActive {
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 999px;
  background: transparent;
  color: var(--app-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.themeButtonActive {
  background: var(--card-bg-color);
}

.themeIcon {
  width: 20px;
  height: 20px;
}

.exportButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--selector-border-color);
  background: var(--selector-bg-color);
  color: var(--selector-text-color);
  cursor: pointer;
}

.exportButton:hover {
  background: var(--selector-hover-bg-color);
}
